.bar {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 0 16px;
	box-sizing: border-box;
	font-size: 2.2rem;

	a {
		height: 80px;
		padding: 28px 22px;
		box-sizing: border-box;
	}

	.links a {
		opacity: .5;

		&.selected { opacity: 1; }
	}

	.buttons {
		display: flex;
		margin-left: auto;

		a {
			width: 72px;
			background: url('/images/icons_nav.svg') no-repeat;
			color: transparent;
			overflow: hidden;
			opacity: .25;

			&:active { opacity: 1; }
			&.disabled { opacity: .06; cursor: default; }

			&.home { background-position: 20px 23px; }
			&.prev { background-position: 20px -77px; }
			&.next { background-position: 20px -177px; }
			&.close { background-position: 20px -277px; }
			&.plus { background-position: 20px -377px; display: none; }
			&.minus { background-position: 20px -477px; }
		}
	}

	&.toolbar {
		position: fixed;
		bottom: 0;
		left: 0;
		height: calc(80px + 120px);
		background-color: black;
		border-bottom: solid 120px black;
		// transform: skewY(5.5deg);
		// transform-origin: 0 0;

		& > * {
			display: flex;
			&.links:first-child { margin-right: 40px; }
		}
	}

	&.titlebar {
		background-color: rgba(black, .5);

		h3 {
			padding: 22px;
			font-size: 2.8rem;
		}
	}
}
